# Ignorar el archivo de documentacion del proyecto
Documentacion_proyecto.docx
# Ignorar el archivo log del proyecto
log.txt
# Ignorar el directorio de Terraform
.terraform/

# Ignorar claves SSH del proyecto
building-ssh
building-ssh.pub

~$*.docx
~WRL*.tmp


